# exakt ein Verzeichnis ignorieren
build/

# alle build-Ordner-Varianten (Qt/CMake/Xcode)
build-*/
memorytrainer.build*/
memorytrainer.pro*/
cmake-build-*/
DerivedData/
Makefile

# Beispiel: deine Trainingspakete
excercisedata/

# IDE/OS-Kleinkram
*.pro.user
*.user
*.qmlproject.user
.qmake.stash
.DS_Store
.idea/
.vscode/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/