# exakt ein Verzeichnis ignorieren
build/

# alle build-Ordner-Varianten (Qt/CMake/Xcode)
build-*/
cmake-build-*/
DerivedData/

# Beispiel: deine Trainingspakete
exercisepackages/

# IDE/OS-Kleinkram
*.pro.user
*.user
*.qmlproject.user
.qmake.stash
.DS_Store
.idea/
.vscode/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/